<div class="row pic-hero hero">
  <span class="section-title">
    Adventure Stories
  </span>
</div>
<br />
<div class="container index-container">
  <div class="index-description">
    Follow my blog for stories about my adventures in the Software and Engineering Industry. I also post tips
    and tricks in web and software development. More exciting content to come.
  </div><br />
  <%= render 'ui_modules/articles_list' %>
</div>
<%= render 'ui_modules/footer' %>
