<div class="row about-hero hero">
  <span class="section-title">
    About The Clever Coder
  </span>
  <%= image_tag("face.jpg", class: "face") %>
</div>
<div class="intro container">
  <h2 align="left">Dominck Caponi</h2>
  <h4 align="left">Software Developer | Engineer | Leader</h4><br />
  <p>
    Defying the norms and experiencing all of what life
    has to offer are what I'm all about. I love exploring topics
    in Mechanical, Aerospace, and Software Engineering. I am a born
    tinkerer who is often found taking stuff apart and building
    cool stuff. I love working with and for startups where work isn't
    taken too seriously and my contributions to the team directly impact
    where what we put out into the world.
  </p>
  <p>
    I like to experience everything the Pacific Northwest has to offer
    and share my adventures in photos and blog posts. I also enjoy
    tinkering with electronics and Arduino boards. In addition, I like
    to play around with Android apps and build web apps in Ruby. the
    internet of things revolution is fascinating and I plan to learn
    how to develop for it as I build on my software development skills.
  </p>
  <p>
    I enjoy nerdy things like Star Wars, video games and theoretical discussions
    in computer science. I prefer tabs over spaces and my favorite
    languages include Java, Ruby, and AngularJS (although I am always adding
    languages to that stack such as C, Swift and Linux). I was a long time Windows
    user who recently converted to Apple, and I am still on the fence absolute
    Android vs IPhone.
  </p>
  <p>
    Not only do I love learning new things, but I also love sharing
    what I learn in my experiences studies. Every time I learn something
    that I found difficult, I like to share with my followers and friends
    so they too can take advantage of the amazing technologies available
    today. I hope you find this blog useful if you are stuck on a technical
    challenge or trying to make sense of your career in tech. I also hope
    you have as much fun reading this as I did making it.
  </p>
</div>
<%= render 'ui_modules/footer' %>
