<div class="row app-hero hero">
  <span class="section-title">
    Software Applications
  </span>
</div>
<div class="container">
  <h2 align="center">Beautiful, Efficient Apps</h2><br />
  <p>
    Each one of my apps is hand crafted using the freshest designs,
    organic code methods and free range imagination. Apps are coded in
    many web languages including Javascript, jQuery, AngularJS, and
    Ruby on Rails. Code for these apps is available on Github to view,
    fork or clone, incliding this blog, coded in Ruby on Rails.
  </p>
  <div class="row">
    <div class="col-sm-4">
      <%= render 'ui_modules/card' %>
    </div>
    <div class="col-sm-4">
      <%= render 'ui_modules/card' %>
    </div>
    <div class="col-sm-4">
      <%= render 'ui_modules/card' %>
    </div>
  </div>

</div>
