<div class="jumbotron">
  <div class="shade">
    <h1>The Clever Coder</h1>
    <p>Dare to do something new and dive into the unknown</p>
  </div><br />
  <% if !user_signed_in? %><button class="btn btn-lg btn-signup"><%= link_to "Sign Up", new_user_registration_path %></button><% end %>
  <button class="btn btn-lg btn-signup"><%= link_to "About", about_path %></button>
</div>
<div class="container">
  <h2>Recent Posts</h2><br />
  <%= render 'ui_modules/articles_list' %>
</div>
<%= render 'ui_modules/footer' %>
