<div class="jumbotron">
  <div class="shade">
    <h1>The Defiant Developer</h1>
    <p>People will always say, "you can't do that." I say, "watch me"</p>
  </div><br />
  <button class="btn btn-lg btn-signup"><%= link_to "Sign Up", new_user_registration_path %></button>
  <button class="btn btn-lg btn-signup"><%= link_to "About Me", about_path %></button>
</div>
