<div class="row pic-hero hero">
  <span class="section-title">
    Adventures in Photos
  </span>
</div>
<div class="container">
  <br />
  <h2>Photo page coming soon</h2>
</div>
<%= render 'ui_modules/footer' %>
