<footer class="row">
  <div class="container">
    <br />
    <div class="row">
      <div class="col-xs-3">
        <a href="mailto:d.caponi1@gmail.com?Subject=Cool Blog">
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
        </a>
      </div>
      <div class="col-xs-3">
        <a href="https://www.twitter.com/DominickCaponi">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
      </div>
      <div class="col-xs-3">
        <a href="https://www.linkedin.com/in/dominickcaponi">
          <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
      </div>
      <div class="col-xs-3">
        <a href="https://www.github.com/dcaponi">
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
      </div>
    </div><br />
    <div class="row">
      <p align="center">
        <a href="http://www.dominick-caponi.com">
          Copyright: &copy; 2017 Dominick Caponi - Software Developer
        </a>
      </p>
    </div>
    <br />
  </div>
</footer>
