<div style="float:left">
  <% if @article.previous( :last ).present? %>
      <%= link_to "Previous: " + @article.previous( :last ).title, article_path(@article.previous( :last )) %>
  <% end %>
  <% if @article.next( :last ).present? %>
      <%= link_to "Jump to Newest: " + @article.next( :last ).title, article_path(@article.next( :last )) %>
  <% end %>
</div>
<div style="float:right">
  <% if @article.next( :first ).present? %>
      <%= link_to "Up Next: " + @article.next( :first ).title, article_path(@article.next( :first )) %>
  <% end %>
  <% if @article.previous( :first ).present? %>
      <%= link_to "See First Article: " + @article.previous( :first ).title, article_path( @article.previous( :first ) ) %>
  <% end %>
</div>
<div class="clearfix"></div><br />
