@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  background: #e1e1e1;
  color: #55585D;
}

.clearfix {
  content: "";
  display: block;
}

// Navbar styling
.navbar {
 background: #55585D;
 padding-bottom: 10px;
}

.navbar-default .navbar-brand {
  padding-top: 15px;
  font-size: 170%;
  font-weight: bold;
  color: #ffffff;
}

.navbar-default .navbar-brand:hover {
  color: #6ED3CF;
}

.navbar-default {
  border: #64103F;
}

.navbar-nav {
  padding-top: 0px;
  padding-right: 20px;
}

.navbar-default .navbar-nav li > a {
  font-weight: bold;
  font-size: 110%;
  color: #ffffff;
}

.navbar-default .navbar-nav li > a:hover {
  color: #6ED3CF;
}

// Form styling
.page-heading, div > label {
  color: #64103F;
}

.actibutton {
  float: right;
  margin-left: 5px;
  margin-right: 5px;
}

.btn-center {
  text-align: center;
}

.panel-title{
  display: inline-block;
}

.panel-heading {
  background-color: #42AB9E !important;
}

.btn-primary {
  background-color: #42AB9E;
  border-color: #42AB9E;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background-color: #5CBA93;
  border-color: #5CBA93;
}

.jumbotron {
  background-image: url(coast.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -25px;
  margin-bottom: -5px;
  height: 400px;
  padding: 40px;
  color: white;

  .shade {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 10px 10px 30px;
  }

  .btn-signup {
    background-color: #55585D;
    border-color: #55585D;
    color: #fff;
    margin-right: 20px;
    margin-top: 30px;
    a {
      color: #fff;
    }
  }

  .btn-signup:hover, .btn-primary:active, .btn-primary:focus {
    background-color: #6ED3CF;
    border-color: #6ED3CF;
    color: #55585D !important;
    a {
      color: #55585D;
      text-decoration: none;
    }
  }
}

.hero {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: -20px;
  margin-bottom: -25px;
  height: 400px;
  text-align: center;
}

.about-hero {
  background-image: url(rise.jpg);
}

.app-hero {
  background-image: url(code.jpg);
}

.pic-hero {
  background-image: url(seattle.jpg);
}

.face {
  height: 150px;
  width: 150px;
  border-radius: 300px;
  position: relative;
  top: 325px;
}

.section-title {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 20px 10px 20px;
  color: #fff;
  position: absolute;
  left: 15px;
  top: 30px;
  font-size: 50px;
}

.article-body {
  background-color: #f5f8f9;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px
}

.intro{
  margin-top: 50px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: #fff;
  .app-img{
    width: 100px;
  }
  margin: 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.index-container {
  margin-top: 30px;
}

footer {
  background-color: #fff;
  bottom: 0px;
  margin-top: 20px;

  .fa {
    font-size: 50px;
    text-align: center;
  }
  .col-xs-3 {
    text-align: center;
  }
  a {
    text-decoration: none !important;
  }
}

.panel-heading {
  color: #333333;
  &:hover {
    color: #333333;
  }
}

.panel-body {
  color: #55585D;
  &:hover {
    color: #55585D;
  }
}

.panel-title {
  font-size: 30px;
}
