@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background: #e1e1e1;
  color: #55585D;
}

// Navbar styling
.navbar {
 background: #55585D;
 padding-bottom: 10px;
}

.navbar-default .navbar-brand {
  padding-top: 15px;
  font-size: 170%;
  font-weight: bold;
  color: #ffffff;
}

.navbar-default .navbar-brand:hover {
  color: #6ED3CF;
}

.navbar-default {
  border: #64103F;
}

.navbar-nav {
  padding-top: 0px;
  padding-right: 20px;
}

.navbar-default .navbar-nav li > a {
  font-weight: bold;
  font-size: 110%;
  color: #ffffff;
}

.navbar-default .navbar-nav li > a:hover {
  color: #6ED3CF;
}

// Form styling
.page-heading, div > label {
  color: #64103F;
}

.actibutton {
  float: right;
  margin-left: 5px;
  margin-right: 5px;
}

.btn-center {
  text-align: center;
}

.panel-title{
  display: inline-block;
}

.panel-heading {
  background-color: #42AB9E !important;
}

.btn-primary {
  background-color: #42AB9E;
  border-color: #42AB9E;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background-color: #5CBA93;
  border-color: #5CBA93;
}

.jumbotron {
  background-image: url(code.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -25px;
  height: 400px;
  padding: 40px;
  color: white;

  .shade {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 10px 10px 30px;
  }

  .btn-signup {
    background-color: #55585D;
    border-color: #55585D;
    color: #fff;
    margin-right: 20px;
    margin-top: 30px;
    a {
      color: #fff;
    }
  }

  .btn-signup:hover, .btn-primary:active, .btn-primary:focus {
    background-color: #6ED3CF;
    border-color: #6ED3CF;
    color: #55585D !important;
    a {
      color: #55585D;
      text-decoration: none;
    }
  }
}
